{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Lost password{% endtrans %}
{% endblock %}

{% block main %}
    {% if error is not empty %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% else %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            <i class="fab fa-telegram-plane"></i> {% trans %}Send me an email{% endtrans %}
        </button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
