{% extends 'connected.html.twig' %}

{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block title_actions %}
    <a class="btn btn-primary" href="{{ path('my_vehicle') }}" role="button"><i class="fas fa-plus"></i> {% trans %}Add a vehicle{% endtrans %}</a>
{% endblock %}

{% block main %}
    <fieldset class="mb-3">
        <legend>
            {% trans %}My vehicles{% endtrans %}
        </legend>
        <div class="row">
            {% for vehicle in vehicles %}
                <div class="col-md-6 col-lg-4">
                    {{ include('vehicle/card.html.twig', { 'vehicle': vehicle }) }}
                </div>
            {% else %}
                <div class="alert alert-info text-center" role="alert">
                    <p>{% trans %}You don't have vehicle yet!{% endtrans %}</p>
                    <a class="btn btn-success" href="{{ path('my_vehicle') }}" role="button"><i class="fas fa-plus"></i> {% trans %}Adding your first vehicle{% endtrans %}</a>
                </div>
            {% endfor %}
        </div>
    </fieldset>

    <fieldset class="mb-3">
        <legend>
            {% trans %}Consumptions{% endtrans %}
        </legend>
        <div class="chart-container">
            <canvas class="chart" data-canvas="{{ canvas.json }}"></canvas>
        </div>
    </fieldset>
{% endblock %}