{% extends 'connected.html.twig' %}

{% block title %}BDZConso{% endblock %}

{% block main %}
    <fieldset>
        <legend>{% trans %}My vehicles{% endtrans %}</legend>
        <div class="row">
            {% for vehicle in vehicles %}
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ vehicle.manufacturer }} {{ vehicle.model }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ vehicle.year }}</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-primary" href="#" role="button"><i class="fas fa-edit"></i> {% trans %}Edit{% endtrans %}</a>
                            <a class="btn btn-success" href="#" role="button"><i class="fas fa-battery-full"></i> {% trans %}New fueling{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{% trans %}New vehicle{% endtrans %}</h5>
                        <p class="card-text">{% trans %}Add a vehicle to your list{% endtrans %}</p>
                        <a class="btn btn-primary" href="#" role="button"><i class="fas fa-plus"></i> {% trans %}Create{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}