{% extends 'connected.html.twig' %}

{% block title %}BDZConso{% endblock %}

{% block main %}
    <fieldset>
        <legend>{% trans %}My vehicles{% endtrans %}</legend>
        <div class="row">
            {% for vehicle in vehicles %}
                <div class="col-md-6 col-lg-4">
                    {{ include('parts/vehicle.html.twig', { 'vehicle': vehicle }) }}
                </div>
            {% endfor %}
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{% trans %}New vehicle{% endtrans %}</h5>
                        <p class="card-text">{% trans %}Add a vehicle to your list{% endtrans %}</p>
                        <a class="btn btn-primary" href="#" role="button"><i class="fas fa-plus"></i> {% trans %}Create{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}