{% extends 'connected.html.twig' %}

{% block title %}BDZConso{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
{% endblock %}

{% block main %}
    <fieldset>
        <legend>
            {% trans %}My vehicles{% endtrans %}
            <a class="btn btn-primary" href="{{ path('vehicle') }}" role="button"><i class="fas fa-plus"></i></a>
        </legend>
        <div class="row">
            {% for vehicle in vehicles %}
                <div class="col-md-6 col-lg-4">
                    {{ include('vehicle/card.html.twig', { 'vehicle': vehicle }) }}
                </div>
            {% endfor %}
        </div>
    </fieldset>
{% endblock %}