{% extends 'connected.html.twig' %}

{% block title %}{% trans %}Administration{% endtrans %}{% endblock %}

{% block main %}
    <div class="row">
        {% for stat in stats %}
            {{ include('parts/stat_card.html.twig', { 'tuile': stat }) }}
        {% endfor %}
    </div>
    {% for canva in canvas %}
        <fieldset class="mb-3">
            <legend>
                {{ canva.name }}
            </legend>
            <div class="chart-container">
                <canvas class="chart" data-canvas="{{ canva.json }}"></canvas>
            </div>
        </fieldset>
    {% endfor %}
{% endblock %}