{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Password reset{% endtrans %}
{% endblock %}

{% block main %}
    {% if error is not empty %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% else %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-sync-alt"></i> {% trans %}Reset my password{% endtrans %}
        </button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
