<h1>Hello {{ user.firstname }} {{ user.lastname }}</h1>
<p>You've lost your password ?</p>
<p>Don't worry, you can regenerate a new one by clicking on the link bellow !</p>
<p><a href="{{ url('token_razpwd', {'key': key}) }}">Reset my password</a></p>
<p>Be careful, this link is available for one hour only !</p>